@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&family=Griffy&display=swap');
body{
    border:0px;
    margin: 0px;
    padding:0px;
}
.main-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg,#0F9FBF,#4B8E9B);
    display: flex;
    justify-content: center;
    align-items: center;
}
.assesine-icon, .card-image img, .card-footer img{
    width: 1em;
}
.card-title{
    font-family: 'Griffy', cursive;
    color:white;
}
.card-description{
    font-family: 'Grenze Gotisch', cursive;
    color:white;
}

.card-image img{
    width: 23em;
}
.assesine-icon{
    width: 5em;
    fill: #F2D06B;
}
.card-container{
    background-color: #033859;
    width: 90%;
    border-radius: 12px;
}
.card-body{
    display: flex;
    flex-direction: column-reverse;
    border-bottom: solid 5px #39F66B;
    padding-bottom: 2em;
    padding-top:8em;
    position: relative;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-description{
    text-align: center;
    width: 80%;
}
.card-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4em;
}
.card-footer img{
    width: 2.7em;
}

.card-image{
    text-align: center;
    width: 100%;
    position: absolute;
    top:-20%;
}

@media screen and (min-width:700px) and (orientation:landscape)
{
    .main-container{
        background-image: linear-gradient(45deg,#0F9FBF,#033859);
    }
    .card-body{
        display: flex;
        flex-direction: row;
        padding-top: 1em;
    }
    .card-image{
        position: static;
        width: 50%;
    }
    .card-container{
        width: 40rem;
        transition: all 1s;
    }
    .card-content{
        width: 50%;
        position: relative;
    }
    .assesine-icon{
        position: absolute;
        top:-20%;
        right: -10%;
        transition: all 0.2s;
    }
    .card-image img{
        transform: scale(1.3,1.3) translateX(25%);

    }
    .assesine-icon:hover{
        fill: #fae5a5;
    }
    .card-container:hover{
        box-shadow: 0px 0px 10px #39F66B;
    }

}